<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 객체 등록 -->
	<bean class="com.hj.di.Worker" id="worker"></bean>
	<!-- <bean class="com.hj.di.Desktop" id="computer"></bean> -->
	
	<!-- lazy-init : getBean이 불릴때까지, Bean객체를 만들지 않는 옵션-->
	<bean class="com.hj.di.Desktop" id="computer" scope="prototype"></bean>
	

</beans>
