<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- @Component가 있는 클래스를 다 빈으로 등록 -->
	<!-- id를 지정하지 않으면 클래스명을 소문자로 바꾼 것이 id가 됨 -->
	<context:component-scan base-package="com.hj.di"></context:component-scan>

</beans>
