<?xml version="1.0" encoding="UTF-8"?>
<!-- 웹 어플리케이션에 대한 설정을 하는 곳 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>preSpringMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 2. web.xml를 이용해서도 처리 담당자로 등록 가능-->
  <servlet>
  	<!-- servlet-name : 서블릿으로 등록된 servlet-class의 이름을 지어줌 -->
  	<servlet-name>myservlet</servlet-name> 
  	<servlet-class>com.hj.prespringmvc.MyServlet</servlet-class>
  </servlet>
  <!-- servlet-mapping : 해당 서블릿이 처리할 요청 -->
  <servlet-mapping>
  	<servlet-name>myservlet</servlet-name>
  	<!-- url-pattern 을 처리하지 -->
  	<!-- <url-pattern>/hello</url-pattern> -->
  	<!-- 모든 요청이 myservlet으로 일단 들어감 -->
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- filter 등록 -->
  <filter>
  	<filter-name>myfilter</filter-name>
  	<filter-class>com.hj.prespringmvc.CharacterEncodingFilter</filter-class>
  </filter>
  <!-- filter가 처리할 url 지정 -->
  <filter-mapping>
  	<filter-name>myfilter</filter-name>
  	<url-pattern>/hello</url-pattern>
  	
  
  </filter-mapping>
 <!-- listener 등록 -->
 <listener>
 	<listener-class>com.hj.prespringmvc.MyListner</listener-class>
 </listener>
</web-app>